version: "3.7"
services:
  api:
    build:
      context: config/dev/nginx
    ports:
      - "8081:80"
    volumes:
      - ./:/app
    depends_on:
      - api-php-fpm

  api-php-fpm:
    build:
      context: config/dev/php-fpm
    environment:
      PHP_IDE_CONFIG: serverName=API
    volumes:
      - ./:/app


  api-php-cli:
    build:
      context: config/dev/php-cli
    volumes:
      - ./:/app

  api-postgres:
    image: postgres:12.2-alpine
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: app
    volumes:
      - api-postgres:/var/lib/postgresql/data
    ports:
      - "54321:5432"

volumes:
  api-postgres: